My_workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tg-text",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "44bd1a3d-25f7-4687-b01b-7274a05d7b54",
      "name": "Webhook",
      "webhookId": "d1e68c2f-a700-43a7-9b52-39ac4adaebbf",
      "notesInFlow": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.parseJson().message }}",
        "options": {
          "systemMessage": "Ты Олег, веселый собеседник и записная книжка."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        220,
        -40
      ],
      "id": "43fa5756-68b3-476d-9574-9fb0ccb67f6e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        140,
        220
      ],
      "id": "fa014de9-9602-413a-bea8-e940cd201a08",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "UoXPVF9CK5QusqnQ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        600,
        20
      ],
      "id": "9426f9ca-629f-406e-bf6f-1fc3481aa906",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.parseJson().chatId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        320,
        240
      ],
      "id": "0c124d0c-c60b-4152-bc95-c4b215bdc01c",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6f4abf70-ecbf-4192-a59d-2fc2877f1810",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b1758370518a3e6184afd8a0cbdc1536a59d4057965db55b6d28a5978d6d20f1"
  },
  "id": "uODzaMVx1DWFtlv9",
  "tags": []
}